<!--ion-view cache-view="false" title="Twitter Feed"-->
<ion-view title="Twitter Feed">
    <ion-content class="has-header">
	
	 <div class="list card">
        <div class="item">
			<h2><b>{{session.speaker}}'s Twitter<b></h2>
			<h3>@{{session.twitter_id}}</h3>
		</div>    
		
		<div class="item">
			<a class="twitter-timeline"
				href="https://twitter.com/{{session.twitter_id}}"
				data-widget-id="574805909936848897"
				data-screen-name="{{session.twitter_id}}">
				Tweets by @{{session.twitter_id}}  
			</a>
		</div>
	        
    </ion-content>
</ion-view> 

   